:global {
  body {
    margin: 0;
    background-color: $background;
    color: $text-dark;
    touch-action: manipulation;
    font-family: sans-serif;
    font-size: $h5;
  }

  html, body, #root {
    height: 100%;
  }

  * {
    box-sizing: border-box;
    margin: 0;
  }
}
